node_modules
dist
.env
.env.local
.env.*.local
*.log
.DS_Store
.run
vendor
laravel-api/vendor
laravel-api/.env
laravel-api/storage/logs/*
laravel-api/storage/framework/cache/*
laravel-api/storage/framework/sessions/*
laravel-api/storage/framework/views/*
!laravel-api/storage/logs/.gitignore
!laravel-api/storage/framework/.gitignore
!laravel-api/storage/app/.gitignore
*.sqlite
.idea
.vscode
*.pid
